.containerWelcome{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.welcomeLeft img{
    width: 450px;
    height: 350px;
}

.welcomeRight{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeRight img{
    width: 8rem;
}

.containerWelcome h1{
    font-size: 2rem;
    color: #000;
}

.containerWelcome p{
    font-size: 1.5rem;
    color: #000;
}

.buttonWelcome {
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: auto;
    max-width: 100%;
    display: inline-flex;
    margin-right: 1%;
}

.buttonWelcome:hover{
    background-color: #45a049;
    color: #ffffff;
    font-size: 1rem;
}

.container-buttons{
    display: flex;
}